root: true

parserOptions:
  ecmaVersion: 2018
  sourceType: "module"

rules:
  quotes: [1, "single"]
  no-unused-vars: warn
  no-console: warn

env:
  es2017: true
  browser: true

globals:
  _: readonly
  L: readonly
  noUiSlider: readonly
  Pristine: readonly

extends:
  "htmlacademy/vanilla"
